
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: indigo;
    font-size: 50px;
    background-color: pink;
    margin-top: 10px auto;
}

h2 {
    text-align: center;
    color: violet;
    font-size: 40px;
    margin: 25px auto;
    padding-top: 25px auto;
}

.tables {
    border: double 1px;
    border-color: dimgray;
    margin: 25px auto;
    width: 300px;
    height: 300px;
    
    
}
.tables thead tr td {
    border: double 1px;
    border-color: dimgray;
    height: 100px;
    

}
.tables tbody tr td {
    border: double 1px;
    border-color: dimgray;
    height: 100px;
}
.tables tfoot tr td {
    border: double 1px;
    border-color: dimgray;
    height: 100px;
}

.tabela2{
    border: double 1px;
    border-color: dimgray;
    margin: 25px auto;
    width: 300px;
    height: 300px;
    
}

.tabela2 tbody tr td {
    border: double 1px;
    border-color: dimgray;
    height: 100px;
}

